<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.china.army.manager.modules.edu.mapper.EduResoucesMapper">

	<!-- 可根据自己的需求，是否要使用！！ -->
    <resultMap type="com.china.army.manager.modules.edu.entity.EduResouces" id="EduResoucesMap">
        <result property="id" column="id"/>
        <result property="edutypeid" column="eduTypeId"/>
        <result property="eduname" column="eduName"/>
        <result property="edusecname" column="eduSecName"/>
        <result property="educontent" column="eduContent"/>
        <result property="edutime" column="eduTime"/>
        <result property="eduuser" column="eduUser"/>
        <result property="eduleaderuser" column="eduLeaderUser"/>
        <result property="eduorigin" column="eduOrigin"/>
        <result property="eduunint" column="eduUnint"/>
        <result property="eduimage" column="eduImage"/>
        <result property="remark" column="remark"/>
        <result property="educreatetime" column="eduCreateTime"/>
        <result property="educreateuser" column="eduCreateUser"/>
        <result property="eduupdatetime" column="eduUpdateTime"/>
        <result property="url" column="url"/>
    </resultMap>

</mapper>